$themes1-background-main: hsl(222, 26%, 31%);
$themes1-toggle-background: hsl(223, 31%, 20%);
$themes1-screen-background: hsl(224, 36%, 15%);
$themes1-key-background: hsl(225, 21%, 49%);
$themes1-key-shadow-blue: hsl(224, 28%, 35%);
$themes1-key-background-toggle: hsl(6, 63%, 50%);
$themes1-key-shadow-Dark: hsl(6, 70%, 34%);
$themes1-grayish-orange-key-background: hsl(30, 25%, 89%);
$themes1-Grayish-orange-key-shadow: hsl(28, 16%, 65%);
$themes1-tex-Very-dark-grayish-blue: hsl(221, 14%, 31%);
$themes1-tex-White: hsl(0, 0%, 100%);

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'League Spartan', sans-serif;
}

